<!DOCTYPE html>
<html lang="ja">

<head>
    <mata charset="UTF-8">
    <title>ビンゴ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<center>
<h1>ビンゴ</h1>

<p style="font-size: 100px;">{{ selected_number }}</p>

<form action="/" method="post">
    <button type="submit">抽選</button>
</form>
</center>

<br>

<h3>抽選履歴</h3>
<ul>
    {% for result in past_numbers %}
    <li>{{ result }}</li>
    {% endfor %}
</ul>
</body>

